.notfound .notfound-404 h2 {
    font-family: montserrat, sans-serif;
    font-size: 35px;
    line-height: 40px;
    margin: 0;
    font-weight: 900;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: linear-gradient(45deg, #8e007d, #7900a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

element.style {
    width: 30%;
}
img {
    border: none;
    outline: none;
    max-width: 100%;
}
img, svg, video {
    vertical-align: middle;
}
.notfound .notfound-404 {
    height: 200px;
    position: relative;
    z-index: -1;
}
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}
#notfound {
    position: relative;
    height: 100vh;
}

.notfound h2 {
    font-weight: 900;
    background: linear-gradient(45deg, #8e007d, #7900a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}