<div id="notfound">
  <div class="notfound">
<div class="notfound-404">
<img src="assets/img/BeatzHail.png" alt="" style="width: 30%"/>
      <h2>We'll be back soon</h2>
    </div>
<h2>VibraVid is currently undergoing an upgrade.</h2>
<!-- <a routerLink = '/'>Go Back</a> </div> -->
</div>
</div>